.container {
    display: grid;
    gap: 5px;
}
.c1 {
    border: 2px solid red;
    padding: 6px;
}
.c2 {
    border: 2px solid red;
    padding: 6px;
}
.c3 {
    border: 2px solid red;
    padding: 6px;
}
.c4 {
    border: 2px solid red;
    padding: 6px;
}
.c5 {
    border: 2px solid red;
    padding: 6px;
}