.col-2 .btn {
    background-color: rgb(144, 105, 199);
    font-size:medium;
}
.col-2 .btn:hover {
    color: black;
    background-color: white;
    border-color: rgb(115, 50, 205);
}
.section6 {
    display: flex;
    flex-wrap: wrap;
}
.image {
    display: flex;
    flex-wrap: wrap;
}
.card-body span{
    font-size:150%;
    color:orange;
    border-radius: 15px;
}
.card-text {
    color: rgb(163, 176, 189);
    font-weight: 600;
    font-style: italic;
}
.card-text:hover {
    color: indigo;
}
.txt {
    color: rgb(163, 176, 189);
    font-weight: 600;
}
.card:hover {
    border-color: rgb(91, 24, 140);
}
.col-2 button{
    color: white;
    background-color: blue;
}
.col-2 button:hover{
    color: black;
    background-color: white;
}
.bi-quote {
    color: slategray;
    transform: rotate(3.142rad);
}
.card{
    width: 40%;  
    display: flex;
    flex-wrap: wrap; 
}
.para {
    color: rgb(148, 100, 182);
}
.info {
    border: 2px solid lightgray;
    width: 38%;
    padding: 10px;
}
.txtt {
    animation: 3s anim-lineUp ease-out ;
    
  }
  
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }